* {
    box-sizing: border-box;
}
body {
    font-family: helvetica, arial, sans serif;
}
.game-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/game-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#time {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#sphere {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: darkred;
}
#home {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background: url('../images/home.png');
    background-position: center;
    background-size: cover;
}
.obstacle{
    position: absolute;
    width: 100px;
    height: 30px;
    background: url('../images/obstacle.png');
    background-position: center;
    background-size: cover;
}
#obstacle1{
    top:25%;
    left:5%;
}
#obstacle2{
    top:50%;
    right:5%;
}
#obstacle3{
    top:75%;
    left:5%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url("../images/modal-bg.jpg");
    background-position: center;
    background-size: cover;
}
.modal h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 36px;
    text-align: center;
}
#modal-stop {
    display: none;
}
button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 150px;
    height: 45px;
    background: url('../images/obstacle.png');
    background-position: center;
    background-size: cover;
    font-size: 18px;
    font-weight: bold;
    color: white;
}